<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_root_path %>">Home</a></li>
    <% if content_for?(:breadcrumbs) %>
      <%= yield :breadcrumbs %>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page"><%= controller_name.titleize %></li>
    <% end %>
  </ol>
</nav>